/* universal selector
*{
    background-color: antiquewhite  ;
} */

body{
    background-color:#f0efeb ;
}

/* element selector*/
button{
    font-size: 30px;
    background-color: #cb997e;
}

/* selector list */
h1,h2{
    color:brown;
}
#search{
    font-size: 30px;
    border-radius: 10px;
}
#signup{
    background-color: #9b2226;
    color: white;
}
span{
    color:rgb(7, 145, 145);
}
.tag{
    background-color: #001219;
    color: #0a9396;
}
.post a{
    color:#9b2226;
    text-decoration:none;
}
nav a{
    color: #a08f9d;
}

input + button{
    background-color: green;
}
h2 + button{
    font-size: 30px;
    background-color:#fde4cf;
}

nav>a{
    color:green
}

input[type="password"]{
    color:saddlebrown
}


.post button:hover{
    background:#005f73;
    color: #001219;
}
.post a:hover{
    text-decoration: underline;   
}

.post button:active{
    background-color: #001219;
    color:white;
}

/* changes the 3rd .post class 
.post:nth-child(3){
background-color: #ecc8b5;;
}
*/

/*  3n signify that .post class has the element in every 3rd 
.post*/
.post:nth-child(3n){
    background-color: #ecc8b5;;
}    

