section{
    background-color: #023047;
    width: 800px;
    height: 800px;
}
div{
    background-color: #219ebc;
    width: 70%;
    height: 20%;
}

h1{
    font-size: 40px;
    border: 1px solid black;
    line-height:200%;
}

h2{
    font-size: 2em;
    margin-left: 1em;
}

h3{
    font-size: 1.5em;
}

p{
    font-size: 0.8em;
}

article{
    font-size: 30px;
}

button{
    font-size: 2em;
    padding: 0 1em;
    background-color: #023047;
    color:#fff;
    border-radius: .5em;
    border:none;
}

ul{
    font-size:1rem;
}